option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: "8000"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "main:app"
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: "aws-elasticbeanstalk-ec2-role"
    InstanceType: "t2.micro"
  aws:elasticbeanstalk:environment:
    EnvironmentType: "SingleInstance"
    ServiceRole: "aws-elasticbeanstalk-service-role"
